.section_home h2{ color:#314515;}
a.more_about{color:#fff; text-shadow:1px 1px #314515;}
.icon{background-color:#a9d070; border:1px #71a229 solid;}
.date_line_blog span.day{color:#314515;}
.date_line_blog span.month{color:#314515;}
.pages_title h2 span{ color:#fff;}
.caption_title_line{ color: #fff;}
.flex-caption h2{ color:#fff;}
.flex-caption h2 a{ color:#fff;}
.post_thumb h2{color: #fff; }
.post_thumb h2 a{color: #fff;}
.submit{color:#fff; border:1px #73ab34 solid; 
background: -moz-linear-gradient(top, #a9d070 0%, #73ab34 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9d070), to(#73ab34));}
input#searchsubmit{color:#fff; border:1px #73ab34 solid; 
background: -moz-linear-gradient(top, #a9d070 0%, #73ab34 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9d070), to(#73ab34));
}
input.form_submit_contact{color:#fff; border:1px #73ab34 solid; 
background: -moz-linear-gradient(top, #a9d070 0%, #73ab34 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9d070), to(#73ab34));}
.footer_menu ul li a:hover{ background-color:#a9d070;}
.footer_menu ul li.selected a{ background-color:#a9d070;}

@media screen and (max-width: 1000px) {
.show_menu{background-color:#a9d070;}
.hide_menu{background-color:#a9d070;}
}