.section_home h2{ color:#FFFFFF;}
a.more_about{color:#fff; text-shadow:1px 1px #a54815;}
.icon{background-color:#e4a46a; border:1px #cf8d51 solid;}
.date_line_blog span.day{color:#fff;}
.date_line_blog span.month{color:#fff;}
.pages_title h2 span{ color:#fff;}
.caption_title_line{ color: #fff;}
.flex-caption h2{ color:#fff;}
.flex-caption h2 a{ color:#fff;}
.post_thumb h2{color: #fff; }
.post_thumb h2 a{color: #fff;}
.submit{color:#fff; border:1px #c1541c solid; 
background: -moz-linear-gradient(top, #dd9052 0%, #c1541c 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd9052), to(#c1541c));}
input#searchsubmit{color:#fff; border:1px #c1541c solid; 
background: -moz-linear-gradient(top, #dd9052 0%, #c1541c 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd9052), to(#c1541c));
}
input.form_submit_contact{color:#fff; border:1px #c1541c solid; 
background: -moz-linear-gradient(top, #dd9052 0%, #c1541c 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd9052), to(#c1541c));}
.footer_menu ul li a:hover{ background-color:#e4a46a;}
.footer_menu ul li.selected a{ background-color:#e4a46a;}

@media screen and (max-width: 1000px) {
.show_menu{background-color:#e4a46a;}
.hide_menu{background-color:#e4a46a;}
}